<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Tracker</title>
</head>
<body>
    <h1>Receipts</h1>
    <div>
        <% receipts.forEach(receipt => {%>
        <div>
            <h2><%= receipt.name %> | <%= receipt.date %></h2>
            <h5><%= receipt.id %></h5>
            <h3>Overall Cost: $<%= receipt.overallCost.toFixed(2); %></h3>
            <h4>Categories:</h4>
            <ul>
                <% if (receipt.categories && receipt.categories.length > 0){ %>
                    <% receipt.categories.map(category => { %>
                        <li><%= category %></li>
                    <% }); %>
                <% } else { %>
                    <li>No categories</li>
                <% } %>
            </ul>
            <form method="POST" action="/api/v1/<%= receipt.id %>?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit">Delete</button>
            </form>
            <a href="/edit/<%= receipt.id %>">Edit</a>
        </div>
        <% }); %>
    </div>
</body>
</html>